/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Conteúdo Modal */
.modal-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botão Fechar */
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

/* Botões de Navegação */
.modal-nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.modal-prev-btn {
  left: 10px;
}

.modal-next-btn {
  right: 10px;
}

/* Imagem Modal */
.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}